Repository touhou-api/web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{css,sass,scss,json,yml,yaml,md}": ["prettier --write"],
  "*.{eslint,prettier,lintstaged,husky}rc": ["prettier --write"]
}

⬆️ tailwindcssをv1.3.4に更新
  package.json
  yarn.lock
Due: prettier --write

🔧(EditorConfig) 設定ファイル追加
  .editorconfig
Due: none

➕ @types/classnames追加
  package.json
  yarn.lock
Due: prettier --write

✨ ゲーム一覧を表示するリスト
  src/apollo/index.ts
  src/components/GamesList/List.tsx
  src/components/GamesList/ListItem.tsx
  src/i18n/index.ts
  src/i18n/ja/common.json
  src/i18n/ja/index.ts
  src/i18n/ja/translation.json
  src/i18n/langs.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/queries/getGame.ts
  src/styles/tailwind.css
  src/utils/tailwind.ts
Due: eslint --fix, prettier --write

🎨 サイドバーナビゲーションのレイアウト
  src/components/SideNav/NavMenu.tsx
  src/pages/_app.tsx
Due: eslint --fix

🎨 ヘッダーを入れた関係でレイアウト更新
  src/components/Header/Header.tsx
  src/components/_template.tsx
  src/pages/_app.tsx
Due: eslint --fix

🔧(tsconfig) apiディレクトリは除外
  tsconfig.json
Due: prettier --write

➕ @types/styled-components追加
  package.json
  yarn.lock
Due: prettier --write

✨ サイドバーナビゲーションにゲーム一覧を表示
  src/components/SideNav/Game/DetailMenu.tsx
  src/components/SideNav/Game/DetailMenuItem.tsx
  src/components/SideNav/Game/List.tsx
  src/components/SideNav/Game/ListItem.tsx
  src/components/SideNav/NavMenu.tsx
  src/pages/_app.tsx
  src/queries/sidenav.ts
Due: eslint --fix
